asgiref
certifi
distlib
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
drf-yasg
et_xmlfile
filelock
inflection
openpyxl
packaging
pillow
pipenv
platformdirs
PyJWT
pytz
PyYAML
rest-framework-simplejwt
setuptools
sqlparse
tzdata
uritemplate
virtualenv
